
.resbody-1{
    padding-bottom: 5rem;
    padding-top: 5rem;
    padding-left: 0;
    padding-right: 0;
}
.resbody-1-h2{
    font-weight: 700;
    color: #353f4f;
    font-size: 3.6rem;
        font-family: Plus Jakarta Sans,sans-serif;
}

.resbody-1-p{
    font-size: 1.3rem;
    color: #757575;
    font-size: 1.3rem;

}
.svshape{
    position: relative;
    background-color: #fd609221;
    width: 4rem;
    height: 4rem;
    
    border-radius: 3rem 2rem 5rem;
}
.icon{
    position: absolute;
    top: -15px;
    left: 2px;
    font-size: 3.5rem;
    color: #f74780
}
.svshape-det{
    color: #6c757d;
    text-align: center;
}
.svshape-h5{
    color: #353f4f;
    font-weight: 700;
    font-size: 1.3rem;
}
.bodbot{
    height: 2px;
    width: 100%;
    background-color: #f1eeee;
    border-radius: 50% ;
}