.restbody-10{
    margin-top: 6rem;
}
.res10-cc{
    width: 31%;
   
}

.rest-10-card{
    padding: 3rem 1.6rem 0;
    border-radius: 1rem;
    background-image: linear-gradient(180deg,rgba(244,244,249,.8) 50%,rgba(244,244,249,.05));
    margin-bottom: 1.5rem;
}
.rest-10-card>img{
    width: 100%;
}
.resbody-12{
    margin-top: 4rem;
    
}
.circle-13{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.circle-13-1{
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    background-color: #f74780;
    justify-content: center;
    align-items: center;
   
}
.circle-13-1>h5{
    color: white;
    font-weight: 800;
}
.circle-13-2{
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: self-end;
}
.circle-13-2>p{
    height: 70%;
    width: 0;
    border: 1px solid rgb(218, 218, 218);
}