.top1 {
   
    width: 100%;
    height: auto;
    
  
}
.parllax{
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: -32;
    background-size: contain;
}
.parllax>img{
    width: 100%;
    height: 100%;
}

.top1-main{
    padding-top: 8rem;
}
.first-top1{
    color: white;
}
.first-top1-h1{
    line-height: 1.25;
    font-weight: 700;
    font-size: 4.2rem;   
}
.first-top1-h5{
    line-height: 1.8;
    font-size: 1.3rem;
    letter-spacing: 1px;  
    margin-bottom: 2rem;
}
.first-top1-btn{
    background-color: #f74780 !important;
    border-color: #f74780 !important;
    color: #fff !important;
    font-size: 1.2rem;
    padding: 0.5rem 2.6rem;
}
.first-top1-p{
    font-size: 0.9rem;
}
