
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #6c757d;
    
    font-family: Plus Jakarta Sans,sans-serif;
}
nav{
    width: 100%;
    height: 16vh;
   z-index: 98989;
}

.first-nav{
    width: 18%;     
}
.nav-item{
    display: flex;
    align-items: center;
}
.nav-link{
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0 1rem !important;
    color: white;

}
.nav-link:hover{
    color:#f74780;
}
.fs-8{
    font-size: 0.6rem;
    padding-left: 3px;
margin: auto;}

.btn-inline-danger{
    background-color: #f74780;
    border: 2px solid #f74780;
    color: white;
    padding: 0.4 1rem;
}
.btn-inline-danger:hover{
    color: white;
    border: 2px solid white;
}
.navbar-toggler{
    border: none !important;    
   /* color: #ffffffce; */
}
.applynav{
    box-shadow: 0 2px 3px rgba(96,96,96,.1);
    background-color: rgba(255, 255, 255, 0.3);
    transition: 0.4s;
    /* padding: 2rem 0 ; */
    height: 10vh;
    backdrop-filter: blur(6px);
}